body {
    font-family: monospace;
    font-size: 2rem;
}

.highscores {
    color: rgb(3, 182, 128);
    font-weight: bolder;
}

.highscores:hover {
    color:rgb(120, 122, 122);

}

.timer {
    display: flex;
    align-items: center;
}

.container {
    margin: 90px auto 0 auto;
    max-width: 700px;
}

button {
    display: inline-block;
    color: rgb(247, 244, 248);
    padding: 20px;
    border-radius: 2rem;
    font-size: 110%;
    background-color: rgb(165, 92, 207);
    margin: 2px;
}

button:hover {
    color: black;
    background-color:rgb(241, 109, 160);
    box-shadow: 0 0 10px 5px rgb(41, 240, 247),
                0 0 20px 10px rgb(68, 188, 243);
}

.hidden {
    display: none;
}

#option-array {
    list-style-type: none;

}

.options {
    display: flex;
    color: white;
}


/* start? */

/* Questions in JS go by titles */
/* 

.options-btn {

}

input[type="text"] {

}

li {

} */
