/* :root {

} ?  */

h1 {

}

h2 {

}

/* .container {
display: flex;
} 

.flex-container

.flex-center

.justify-center

.text-center

.hidden?
    display: none;

.start-btn
    design button
    border-radius: 3px;

.start-btn:hover
    cursor
    box-shadow
    ? transition
    ? transform

Also goes at end with Start Over button
#main-endhs-btn
    same as other button
    change colors

#main-endhs-btn :hover
    background - same color

#hs-btn
    simple
    top left at all times

#hs-button:hover

#question

.multi-container

.multi-text

#multi-btn

#multi-btn:hover

.leaderboard

.leaderboard h1

.leaderboard ul

/* with main-endhs-btn */
/* .submit-container */

/* .submit-text */

/* #submit-btn */

/* #submit-btn:hover */

/* .startover-container */

/* .startover-text */

/* .startover-btn */

/* #startover-btn:hover */
