body {
    font-family: monospace;
    font-size: 2rem;
}

.highscores {
    color: rgb(3, 182, 128);
    font-weight: bolder;
}

.highscores:hover {
    color:rgb(120, 122, 122);

}

.timer {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

.container {
    margin: 90px auto 0 auto;
    max-width: 700px;
}

button {
    display: inline-block;
    color: rgb(247, 244, 248);
    padding: 20px;
    border-radius: 2rem;
    font-size: 110%;
    background-color: rgb(110, 7, 170);
    margin: 2px;
}

button:hover {
    /* font-size: 3rem; */
    color: black;
    background-color:rgb(245, 12, 102)
}

.hidden {
    display: none;
}

#question-options {
    list-style-type: none;
}



/* start? */

/* Questions in JS go by titles */
/* 

.options-btn {

}

input[type="text"] {

}

li {

} */
